click
dataclasses
Flask
gunicorn
importlib-metadata
importlib-resources
itsdangerous
Jinja2
joblib
MarkupSafe
nltk
numpy
pandas
pickle5
python-dateutil
pytz
regex
scikit-learn
scipy
six
threadpoolctl
tqdm
typing-extensions
Werkzeug
zipp
